{{!-- add.hbs--}}
{{!-- formulario para añadir las incidencias --}}
<div class="container-fluid p-4">
	<div class="row">
		<div class="col-md mx-auto">
			<div class="card text-center tarjeta-formulario">
				<div class="card-body">
					{{!-- Añadimos la propiedad 'enctype' para aceptar imágenes desde el formulario --}}
					<form action="/incidencias/add" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label for="inputNombre" class="text-white">Nombre de la incidencia</label>
							{{!-- Los atributos name de cada input contendrá la referencia al nombre de cada columna de la tabla INCIDENCIAS --}}
							<input type="text" class="form-control" name="nomIncidencia" placeholder="Nombre de la incidencia" id="inputNombre" required autofocus>
						</div>
						<div class="form-group">
							<label for="inputLugar" class="text-white">Lugar de la incidencia</label>
							<input type="text" class="form-control" name="locIncidencia" placeholder="Lugar de la incidencia" id="inputLugar" required>
						</div>
						<div class="form-group">
							<label for="inputTipo" class="text-white">Selecciona el tipo de incidencia</label>
							<select id="inputTipo" class="form-control" name="tipIncidencia" required>
								<option selected>Selecciona...</option>
								<option>Parques</option>
								<option>Fachadas</option>
								<option>Desperfectos</option>
								<option>Limpieza</option>
								<option>Manifestaciones</option>
								<option>Abandono</option>
								<option>Peligro</option>
							</select>
						</div>
						<div class="form-group">
							<label for="inputCiudad" class="text-white">Ciudad</label>
							<!-- <input id="inputCiudad" class="form-control" type="text" name="ubiIncidencia" placeholder="Nombre de la Ciudad" required> -->
							<select id="inputCiudad" class="form-control" name="ubiIncidencia" required>
								<option selected>Selecciona...</option>
								<option>Novelda</option>
								<option>Aspe</option>
								<option>Monforte del Cid</option>
								<option>Elda</option>
								<option>Romana, La</option>
							</select>
						</div>
						<div class="form-group">
							<label for="textMensaje" class="text-white">Descripción</label>
							<textarea name="menIncidencia" rows="2" class="form-control" id="textMensaje" placeholder="Mensaje" required></textarea>
						</div>
						<div class="form-group">
							<label for="inputImagen" class="text-white">Añade una imagen</label>
							<input type="file" class="form-control-file text-white btn-cmc" name="imgIncidencia" id="inputImagen">
						</div>
						<div class="form-group">
							<button class="btn btn-success btn-block">
								Guardar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>