<!-- see.hbs -->
<div class="row m-auto">
	<div class="col">
		<h1 class="titulo titulo-seccion">{{incidencia.nomIncidencia}}</h1>
		<hr>
	</div>
</div>
<div class="row m-auto">
	<div class="col">
		<div class="card tarjeta-ver">
			<div class="card-header">
				<h2 class="titulo">{{incidencia.nomIncidencia}}</h2>
			</div>
			<img class="img-fluid" src="/uploads/{{incidencia.imgIncidencia}}">
		</div>
	</div>
</div>