{{!-- index.hbs --}}
<div class="row">
	<div class="col titulo-seccion">
		<h1 class="titulo">Te damos la bienvenida a CuidandoMiCiudad</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="jumbotron bg-dark tarjeta-inicio">
			<h1 class="display-4">¡Que se escuche nuestra voz!</h1>
			<p class="lead">Tus quejas importan, hagamos que se escuchen.</p>
			<hr class="my-4">
			<p class="lead tarjeta-pie">
				<a class="btn btn-cmc boton-accion btn-lg btn-block" href="incidencias/add" role="button">Habla</a>
			</p>
		</div>
	</div>
	<div class="col">
		<div class="jumbotron bg-dark tarjeta-inicio">
			<h1 class="display-4">¿Qué se cuece?</h1>
			<br>
			<p class="lead">Ya hay personas que están usando <em>CuidandoMiCiudad</em>.</p>
			<hr class="my-4">
			<p class="lead tarjeta-pie">
				<a class="btn btn-cmc boton-accion btn-lg btn-block" href="/incidencias" role="button">Observa</a>
			</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col titulo-seccion">
		<h1 class="titulo">Participa con la comunidad de usuarios</h1>
		<hr>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="jumbotron bg-dark tarjeta-inicio">
			<h1 class="display-4">Freemium</h1>
			<p class="lead">Registro gratuito</p>
			<hr class="my-4">
			<p class="lead tarjeta-pie">
				<a class="btn btn-cmc boton-accion btn-lg btn-block" href="#" role="button">Freemium</a>
			</p>
		</div>
	</div>
	<div class="col">
		<div class="jumbotron bg-dark tarjeta-inicio">
			<h1 class="display-4">Premium</h1>
			<p class="lead">Usa todo el potencial de <em>CuidandoMiCiudad</em>.</p>
			<hr class="my-4">
			<p class="lead tarjeta-pie">
				<a class="btn btn-cmc boton-accion btn-lg btn-block" href="#" role="button">Premium</a>
			</p>
		</div>
	</div>
</div>
	
