{{!-- index.hbs --}}
	<h1>Welcome</h1>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	
	
	{{content}}
