{{!-- index.hbs --}}
<div class="col p-0 contenido">
	<h1>Welcome</h1>
	<h2>Gatxamiga</h2>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	<p>Texto de prueba</p>
	{{content}}
</div>