/*styles.css*/
body {
	background-color: #352f44;
	font-family: Ubuntu;
	color: white;
}

.cabecera {
	background-color: #2A2438;
	font-family: Neucha;
	color: #995be3;
}

.subtitulo {
	font-family: Caveat;
	margin-top: -1em;
}

.navegador {
	background-color: #411E8F;
}

.navegador-lateral {
	/*background-color: #2A2438;*/
}

.contenido-pagina {
	/*padding-right: 0;*/
}

.titulo {
	font-family: Neucha;
}

.pie-pagina {
	background-color: #411E8F;
}
/*----------Estilos Contenido y Sidebar Colapsable---------*/
.wrapper {
	display: flex;
	width: 100%;
	/*align-items: stretch;*/
}

#sidebar {
	background: #2A2438;
	transition: all 0.3s;

	min-width: 250px;
	max-width: 250px;
	min-height: 54vh;

	/*position: fixed;
	top: 0;
	left: 0;
	z-index: 999;*/
}

#sidebar.active {
	margin-left: -250px;
}

/*------Cuando sea menor a 768px, invertimos el estilo del didebar*/
/*@media (max-width: 768px) {
	#sidebar {
		margin-left: -250;
	}

	#sidebar.active {
		margin-left: 0;
	}
}*/


/*-------Añadimos separación al pequeño triángulo de los dropdown---*/
a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

/*-----------Estilos del sidebar---------------------*/

.components a, a:hover, a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #fff;
}

#sidebar ul p {
	color: #995be3;
	padding: 10px;
}

#sidebar ul li a {
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: #310A5D;
	background: #995be3;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
	color: #fff;
	background: #995be3;
}

#sidebar ul ul a {
	font-size: 0.9 !important;
	padding-left: 30px;
	background: #411E8F;
}

/*----------Cabecera Sidebar--------------------*/
#sidebar .sidebar-header {
	padding: 20px; 
	overflow: hidden;
}

#sidebar .sidebar-header .user-pic {
	float: left;
	width: 79px;
	padding: 2px;
	border-radius: 12px;
	margin-right: 15px;
	overflow: hidden;
}

#sidebar .sidebar-header .user-pic img {
	/*La propiedad 'object.fit' de CSS se usa para especificar cómo una imagen o un vídeo (<img> o <video>) debe redimensionarse para caber en su contenedor*/
	object-fit: cover;
	height: 100%;
	width: 100%;
}

#sidebar .sidebar-header .user-info {
	float: left;
}

#sidebar .sidebar-header .user-info > span {
	display: block;
}

#sidebar .sidebar-header .user-info .user-name {
	font-size: 18px;
}

#sidebar .sidebar-header .user-info .user-role {
	font-size: 17px;
}

#sidebar .sidebar-header .user-info .user-status {
	font-size: 14px;
	margin-top: 4px;
}

#sidebar .sidebar-header .user-info .user-status i {
	font-size: 8px;
	margin-right: 4px;
	color: #5cb85c;
}

/*----------Botones navegado--------------------*/
#sidebar .sidebar-btn {
	max-width: 160px;
	margin-left: 42px;
}
/*------------------------------*/

.btn-colapsar {
	background: #995be3;
}