/*styles.css*/
body {
	background-color: #352f44;
	font-family: Ubuntu;
}

.cabecera {
	background-color: #2A2438;
	font-family: Neucha;
	color: #995be3;
}

.subtitulo {
	font-family: Caveat;
	margin-top: -1em;
}

.navegador {
	background-color: #411E8F;
}

.navegador-lateral {
	background-color: #2A2438;
}

.contenido-pagina {
	/*padding-right: 0;*/
}

.pie-pagina {
	background-color: #411E8F;
}