{{!-- footer.hbs --}}
<div class="col pie-pagina">
	<footer class="pt-3 my-md-3 pt-md-3 border-top">
		<div class="row">
			<div class="col-12 col-md">
				<img src="/img/Nombre_Zig-App_Studios-Blanco_200.png" alt="Logo empresa Zig-App Studios" width="80">
				<small class="d-block mb-3">&#x1F12F; 2019-2020 v 0.1.6</small>
			</div>
			<div class="col-6 col-md">
				<h5>Características</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Inicio</a></li>
					<li><a class="text-muted" href="#">Incidencias</a></li>
					<li><a class="text-muted" href="#">Noticias</a></li>
					<li><a class="text-muted" href="#">Asociaciones</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>Recursos</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Preguntas frecuentes</a></li>
					<li><a class="text-muted" href="#">Ayúdanos a mejorar</a></li>
				</ul>
			</div>
			<div class="col-6 col-md">
				<h5>Sobre nosotros...</h5>
				<ul class="list-unstyled text-small">
					<li><a class="text-muted" href="#">Equipo</a></li>
					<li><a class="text-muted" href="#">Avisos Legales</a></li>
					<li><a class="text-muted" href="#">Términos</a></li>
				</ul>
			</div>
		</div>
	</footer>
</div>