{{!-- header.hbs --}}
<div class="col cabecera">
	<div class="row cabecera-contenido">
		<div class="col-md-2 cabecera-logo">
			<img src="/img/CMC_logotipo_header_200.png" class="img-fluid">
		</div>
		<div class="col-md-10 text-center cabecera-titulo">
			<h1 class="display-1">CuidandoMiCiudad</h1>
		</div>
	</div>	
</div>

