{{!-- header.hbs --}}
<div class="col cabecera">
	<div class="row cabecera-contenido">
		<div class="col-md-2 cabecera-logo">
			<img src="/img/CMC_logotipo_header_200.png" class="img-fluid">
		</div>
		<div class="col-md-10 text-center cabecera-titulo">
			<div class="row">
				<div class="col">
					<h1 class="display-1 mt-4">CuidandoMiCiudad</h1>	
				</div>
			</div>
			<div class="row">
				<div class="col pb-2">
					<!-- Traer letra cavein para subtitulo -->
					<h2 class="subtitulo">
						Cambiemos lo que es nuestro
					</h2>
				</div>
			</div>
		</div>
	</div>	
</div>

