{{!-- sidebar.hbs --}}
<div class="sidebar-header">
	<h3 class="titulo">Panel de Control</h3>
	<div class="user-pic">
		<img class="img-fluid img-rounded" src="/img/Jo_Avatar.jpg">
	</div>
	<div class="user-info">
		<span class="user-name">
			{{user.nomUsuario}} <strong>{{user.apeUsuario}}</strong>
		</span>
		<span class="user-role">{{user.tipUsuario}}</span>
		<span class="user-status">
			<i class="fa fa-circle"></i>
			<span>En línea</span>
		</span>
	</div>
</div>

<ul class="list-unstyled components">
	<li>
		<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Incidencias</a>
		<ul class="collapse list-unstyled" id="homeSubmenu">
			<li>
				<a href="/incidencias/add">Añadir incidencia</a>
			</li>
			<li>
				<a href="#">Mis incidencias</a>
			</li>
			<li>
				<a href="/incidencias">Todas las incidencias</a>
			</li>

		</ul>
	</li>
	<li>
		<a href="#">About</a>
	</li>
	<li>
		<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
		<ul class="collapse list-unstyled" id="pageSubmenu">
			<li>
				<a href="#">Page 1</a>
			</li>
			<li>
				<a href="#">Page 2</a>
			</li>
			<li>
				<a href="#">Page 3</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#">Portofolio</a>
	</li>
	<li>
		<a href="#">Contact</a>
	</li>
</ul>

<div class="sidebar-btn">
	<a role="button" href="/logout" class="btn btn-danger btn-lg btn-block">Cerrar sesión</a>
</div>