{{!-- signup.hbs --}}
<div class="container p-4">
	<div class="row">
		<div class="col-md mx-auto">
			<div class="card text-center">
				<div class="card-header">
					<h3>Registrarse</h3>
				</div>
				<div class="card-body">
					<form action="/signup"></form>
				</div>
			</div>
		</div>
	</div>
</div>
