{{!-- signup.hbs --}}
<div class="container-fluid p-4">
	<div class="row">
		<div class="col-md mx-auto">
			<div class="card text-center tarjeta-formulario">
				<div class="card-header">
					<h3 class="titulo">Registro Freemium</h3>
				</div>
				<div class="card-body">
					<form action="/signup" method="POST">
						<div class="form-group">
							<label for="inputNombre" class="text-white">Nombre</label>
							<input type="text" name="nomUsuario" placeholder="Nombre" class="form-control" id="inputNombre" autofocus required>
						</div>
						<div class="form-group">
							<label for="inputApellidos" class="text-white">Apellidos</label>
							<input type="text" name="apeUsuario" placeholder="Apellidos" class="form-control" id="inputApellidos" required>
						</div>
						<div class="form-group">
							<label for="inputNick" class="text-white">Nickname</label>
							<input type="text" name="nickUsuario" placeholder="Nickname de usuario" class="form-control" id="inputNick" required>
						</div>
						<div class="form-group">
							<label for="inputMail" class="text-white">Correo electr칩nico</label>
							<input type="mail" name="corUsuario" placeholder="Correo Electr칩nico" class="form-control" id="inputMail" required>
						</div>
						<div class="form-group">
							<label for="inputPassword" class="text-white">Contrase침a</label>
							<input type="password" name="pasUsuario" placeholder="Password" class="form-control" id="inputContrase침a" required>
						</div>
						<div class="form-group">
							<label for="inputCiudad" class="text-white">Ciudad</label>
							<input type="text" name="ciuUsuario" placeholder="Ciudad" class="form-control">
						</div>

						<div class="form-group mt-5">
							<button class="btn btn-cmc boton-accion btn-block p-3">
								Entrar
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
